# All Plots and Results Folders
ECM_Params_Estimation
Matlab_Result
MLP_Plots
qc_plots
SOH_Regression_Plots
MLP_Transfer_Learning_Calibration/outputs
SOH_Regression_Results
OLS_plots
CELL_Param_SOC_plots

# Generated new csv files
*.csv