# ECM Fitting Data
ECM_Params_Estimation
Matlab_Result

# Subfolder Results Outputs
MLP_Transfer_Learning_Calibration/outputs

# Experiment Results
LR_Experiments
MLP_Experiments

# Other Plots
qc_plots
ECM_Params_Analysis
ECM_RC_Plotly
ECM_RC_Plotly_SOCG40
MLP_plots


# All csv Files
*.csv